 <ul class="list-group">
  {{#each comentarios}}
      <li class="list-group-item list-group-item-dark">{{id_comentario}} ----- {{coment}}---{{id_pelicula}} ----- {{id_usuario}}<a href="borrar/{{id_comentario}}">BORRAR</a></li>
  {{/each}}
</ul>
