 <ul class="list-group">
  {{#each comentarios}}
      <li class="list-group-item"><s>{{id_comentario}} ----- {{coment}}</s><a href="borrar/{{id_comentario}}">BORRAR</a></li>
      <li class="list-group-item">{{id_pelicula}} ----- {{id_usuario}}<a href="borrar/{{id_comentario}}">BORRAR</a>
  {{/each}}
</ul>

